/* estilo para impressão*/

* {
    margin: 10px;
    padding: 10px;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    
}
body {
    background: rgb(152, 177, 231) url(../estilos/pexels-danny-meneses-340146-943096.jpg) right center no-repeat fixed;
    background-size: cover;
}
header {
    display: none;
}
main article {
    margin-top: 100px;
    padding: 15px;
    width: 800px;
    display: block;
    margin: auto;
    background-color: rgba(169, 187, 235, 0.521);

}
article::after {
    content: 'Esse arquivo foi impresso no site: www.matheusfoda.com';
}