* {
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
}
header {
    height: 150px;
    background-color: black;
    color: white;
    padding: 10px;
}
header h1 {
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;

}
header p {
    text-align: center;
    padding-bottom: 50px;
}
header a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
.normal {
    background-color: white;
}
.imagem {
    background-color: rgb(70, 70, 70);
    color: white;
}
.imagem > p {
    background-color: black;
    width: 400px;
}
footer {
    height: 120px;
    padding: 10px;
    background-color: rgba(53, 120, 175, 0.411);
    margin: 0px;
}
footer p {
    text-align: center ;
    font-size: 20px;
}
footer li {
    display: inline-block;
}
.redes {
    width: 170px;
    letter-spacing: 25px;
    margin: auto;
    margin-top: 45px;

}
.img-redes {
    height: 35px;
    width: 35px;
}
.img-redes:hover {
    transition: 0.3s;
    background-color: rgba(0, 60, 255, 0.329);
    height: 40px;
    width: 40px;
    border-radius: 15px;
}