* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
html,body {
    background: url(imagem/pexels-danny-meneses-340146-943096.jpg) right center no-repeat fixed;
    background-size: cover;
    height: 100vh;
}
#titulo {
    color: white;
    text-align: center;
    margin-top: 10vh;
}
section#caixa1 {
    background-color: #ffffffad;
    max-width: 600px;
    height: 300px;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 20vh;
    padding: 10px;
    border-radius: 20px;
}
section#caixa1 p { 
    margin-top: 15px;
    text-align: center;
}
section#caixa2 {
    background-image: linear-gradient(45deg, #180741, #110637, #0B0517,  #250349 75%, #2D034F 100%);
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
    padding: 30px;
}
#caixa2 p {
    font-size: 20px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    color: white;
    width: 350px;
    height: 200px;
    
}
#caixa2 h1 {
    color: white;
}

